<div class="arrow-wrapper">
    <div class="arrow"></div>
</div>

<style>
    .arrow-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .arrow {
        position: relative;
        width: 30px;
        height: 30px;
        border-top: 3px solid #fff;
        border-left: 3px solid #fff;
        transform: rotate(225deg);
        animation: arrow-animation 2s infinite;
    }

    .arrow {
        down: 25px;
        animation-delay: 0.5s;
    }

    @keyframes arrow-animation {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

</style>