---
import { Icon } from 'astro-icon'
---

<div class="w-full only:flex border-b-2 p-1">
    <div class="w-full flex">
        <a href="https://github.com/crbroughton/v3" class="ml-auto">
            <Icon class="w-10" pack="grommet-icons" name="github" />
        </a>
    </div>
</div>