---
import { Icon } from 'astro-icon'
---

<div class="absolute w-full z-10">
    <div class="w-full flex p-2">
        <a href="https://github.com/crbroughton/v3" class="ml-auto">
            <Icon class="w-7 text-white" pack="grommet-icons" name="github" />
        </a>
    </div>
</div>