---
import Navbar from "../components/Navbar.astro";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 66, 211, 146;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#647eff,
			hsl(0, 0%, 50%) 50%
		);
	}
	html {
		font-family: "Inter var experimental", "Inter var", Inter, -apple-system,
			BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
			"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
		background-color: #1a1a1a;
		scroll-behavior: smooth;
	}
	html::-webkit-scrollbar {
		width: 0.5vw;
		min-width: 10px;
		max-width: 10px;
	}

	html::-webkit-scrollbar-thumb {
		background-color: hsl(0, 0%, 90%);
		box-shadow: inset 0 0 10px 10px hsl(242, 74%, 61%);
		border: solid 2px transparent;
		border-radius: 30px;
	}

	html::-webkit-scrollbar-thumb:hover {
		box-shadow: inset 0 0 10px 10px hsl(148, 67%, 54%);
	}

	html::-webkit-scrollbar-track {
		background-color: hsl(0, 0%, 90%);
		border: solid 2px transparent;
	}
	body {
		margin: 0;
		padding: 0;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
